.hs {
    position: absolute;
    top: 7px;
    left: 7px;
}

.timer {
    position: absolute;
    top: 7px;
    right: 7px;
}

.wrapper {
    margin: 90px auto 0 auto;
    max-width: 580px;
}

.hide {
    display: none;
}
body {
    text-align: center;
}
#questions-div {
    background-color: lightcyan;
    color:black;
    text-align: center;
}